Google Calendar Agent/Google Calendar agent.json
{
  "name": "Google Calendar agent",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "Text"
            },
            {
              "name": "SessionID"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        -16
      ],
      "id": "4180ced0-a2e3-4722-aa36-de33c526d228",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.Text }}",
        "options": {
          "systemMessage": "=You are a calendar assistant who can easily create events in the Google calendar. \nyou should provide start date and end date.\n\ntoday's correct time is {{ $now }}\n\nadditionally you should give summary and other details to the calender which the tool will require.\n\nin case you need to get the events, use \"get event tools\" and not the create event one. You can get multiple events as well.\n\nmake sure that you give the response in a good summariezed manner without any links. "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        -32,
        -16
      ],
      "id": "c94958aa-3c29-4caf-9b25-7e1a25be3016",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "duser1468@gmail.com",
          "mode": "list",
          "cachedResultName": "duser1468@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "summary": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Summary', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        288,
        144
      ],
      "id": "bc7b9e90-0c24-4a1a-b586-7068447c3814",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "AYmxTF4k0QtThzlf",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -96,
        192
      ],
      "id": "74b8a6e3-c59b-4917-800a-4eccab32ec0a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "jssrtJAjfC87FWG2",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.SessionID }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        32,
        240
      ],
      "id": "012f8053-8799-4ec6-b683-36575329453e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "duser1468@gmail.com",
          "mode": "list",
          "cachedResultName": "duser1468@gmail.com"
        },
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        208,
        304
      ],
      "id": "a3ad9b61-1196-432f-a4dd-97dc497079f7",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "AYmxTF4k0QtThzlf",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Helper for Automation - 4\nThis workflow helps me in automating the work of adding a new Calendar event or reading all the existing events.",
        "height": 128,
        "width": 336
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -112,
        -208
      ],
      "typeVersion": 1,
      "id": "405d4834-bf6f-46c9-9323-bf0a131bd389",
      "name": "Sticky Note"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fb2616b1-2958-48d9-b5a7-00a81a5b0a1c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0a8316f9aa03c0ca3cdef449a502fa4dc017429e527278bb9471263f8964bfd1"
  },
  "id": "UbyssU0TvZgmHGrR",
  "tags": [
    {
      "updatedAt": "2025-11-14T20:25:54.692Z",
      "createdAt": "2025-11-14T20:25:54.692Z",
      "id": "OdkguArc6UlKn51N",
      "name": "assistant"
    }
  ]
}